altgraph==0.17
astroid==2.4.1
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.6.3
macholib==1.14
mccabe==0.6.1
modulegraph==0.18
pylint==2.5.2
pyperclip==1.8.0
PyQt5==5.15.3
PyQt5-Qt==5.15.2
PyQt5-sip==12.8.1
requests==2.23.0
six==1.14.0
soupsieve==2.0
toml==0.10.1
urllib3==1.26.5
wrapt==1.12.1
